/* light pink: F1DEDE */
/* gum pink: FFA5AB */
/* eraser pink: D496A7 */
/* yellow: FFFF99 */
/* purple gray: 5D576B */

body {
  background-color: #F1DEDE;
  color: #5D576B;
  font-family: 'Gochi Hand', cursive;
  font-size: 18px;
}

h1 {
  padding-top: 20px;
  color: #5D576B;
  font-family: 'Righteous', cursive;
  font-size: 40px;
}

.body-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 30px;
}

.new-body-containers {
  padding: 10px 30px;
  text-align: center;
  color: #5D576B;
}

#new-headline {
  padding-bottom: 20px;
}

#new-note {
  background: #FFFF99;
  width: 280px;
}

#note-labels {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 16pt;
}

.centerizer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#here-are-your-notes {
  font-size: 18pt;
}
